body {
    margin: 0;
    overflow: hidden;
}

#ocean {
    background-color: rgb(117, 117, 188);
    height: 100vh;
    position: relative;
}

#ship {
    position: absolute;
}

#icebergs {
    position: absolute;
}

#icebergs div {
    position: relative;
}

#icebergs div img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#page-gameover {
    text-align: center;
    background-color: aquamarine;
    color:black;
}

#page-win {
    text-align: center;
    background-color: aquamarine;
    color:black;
}
