body {
    margin: 0;
    overflow: hidden;
}

#ocean {
    background-color: rgb(117, 117, 188);
    height: 100vh;
    position: relative;
}

#ship {
    position: absolute;
}

#icebergs {
    position: absolute;
    transform: translate(-50%, -100%);
}

#triangle {
    position: absolute;
}

#page-gameover {
    text-align: center;
    background-color: aquamarine;
    color:black;
}

#page-win {
    text-align: center;
    background-color: aquamarine;
    color:black;
}
